.Gallery img {
  width: 310px;
  height: 310px;
  padding: 10px;
}

.Gallery {
  margin: 5%;
  text-align: center;
  display: grid;
  gap: 3rem;
  grid-auto-flow: dense;
  grid-auto-rows: 27rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

featured {
  grid-column: span 2;
}
.Nombrecito {
  width: 100%;
  text-align: center;
}
