.Gallery img {
  width: 250px;
  height: 255px;
  object-fit: contain;
  }

.Gallery {
  text-align: center;
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em; 
  margin-right:1%;
}

.Nombrecito {
  font-size: 11.5px;
  text-justify:justify;
  margin:2%;
  width: 95.5%;
  
}
