.Gallery img {
  width: 150px;
  height: 150px;
   padding: 10px;
}

.Gallery {
  margin:5%;
  text-align:center;
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-auto-rows: 16rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

featured {
  grid-column: span 2;
}
.Nombrecito {
  width: 100%;
  text-align: center;
}
