.banderitaEs {
  outline: inherit;
  width: 40%;
  border: none;
  border-radius: 100%;
  margin: 5%;
  height: 40px;
  cursor: pointer;
}
.banderitaEn {
  outline: inherit;
  width: 40%;
  border: none;
  border-radius: 100%;
  margin: 5%;
  size:50%;
  height: 40px;
  cursor: pointer;

}

.banderita {

  width: 100%;

}

.idiomitas {
  width: 100px;
  display: flex;
  left: 70%;
}
