.banderitaEs {
  outline: inherit;
  width: 40%;
  border: none;
  border-radius: 100%;
  margin: 5%;
  height: 40px;
  cursor: pointer;
  background: url('https://res.cloudinary.com/dhp2zuftj/image/upload/v1643819219/spain_2_nibk1z.png');
  background-position: center;
  background-size: contain;
}
.banderitaEn {
  outline: inherit;
  width: 40%;
  border: none;
  border-radius: 100%;
  margin: 5%;
  size:50%;
  height: 40px;
  cursor: pointer;
  background: url('https://res.cloudinary.com/dhp2zuftj/image/upload/v1643819251/united-kingdom_1_x47jxq.png');
  background-position: center;
  background-size: contain;

}

.idiomitas {
  width: 100px;
  display: flex;
  left: 70%;
}