.buscadorcito {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid white;
    width: 45vw;
    padding-bottom: 3px;

}

.input {

    font-family: Montserrat;
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 100%;
    color: white;

    &:focus {

        outline: none;

    }

}

.lupo {

    margin-right: 10px;

}
