.album{
   
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-content: flex-start;
   flex-wrap: wrap;
   height: 75vh;
   overflow-y: scroll;
   margin-bottom: 20px;
   
   }

   .carta{
      display: flex;
      align-items: end;
      width: 200px;
      height: 250px;
      background: no-repeat;
      background-size: cover;
      margin: 20px;
      
        h4{
           width: 100%;
           text-align: center;
          padding:10px;
           visibility: hidden;
           
        }     

      &:hover {
         h4{
            
            width: 100%;
            text-align: center;
            transition: 0.5s;
            visibility: visible;
            color: rgba(255, 255, 255, 0.938);
           
            background-color: rgba(0, 0, 0, 0.5);
         }

      }
   }