nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}

.active {

    border-bottom: 2px solid white;
    color: white;
    margin: 20px;
    font-size: 2.5vw;

}

.inactive {

    border: none;
    color: white;
    margin: 20px;
    font-size: 2.5vw;

}

.personajes {

    border-bottom: white;

}
