body {

    background-color: black;
    color: white;

}

* {

    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Game\ of\ Thrones.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }