body {

    background-color: black;
    color: white;

}

* {

    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Open sans;
    font-weight: lighter;

}

a {

    color: white;

}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/GameofThrones.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}