@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.divHead {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.casLen{
    display:flex;
    align-items: center;
}
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.derecha {

    display: flex;
    justify-content: center;
    align-items: center;

}
.allContain{
    max-width:100%;
}
.containerHouse{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    min-height: 88vh;
    max-width: 100%;
}
.ulDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}

.imgHouse{
    width:180px;
}

.pText{
    font-family: 'Montserrat', sans-serif;
    max-width: 200px;
    margin: 15px 0px;
}

.liCont{
    width:200px;
    min-height:20vh;
    text-align: center;
    margin:2% 1%;
}

.h4Title{
    margin-bottom: 3vh;
}
.h2Hous{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contEsc{
    text-align: center;
}